@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900);
.main__content:after, .footer:after {
  content: "";
  display: table;
  clear: both;
}

.footer:before {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Roboto/Roboto-Thin.eot?") format("eot"), url("../fonts/Roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Thin.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Roboto/Roboto-Light.eot?") format("eot"), url("../fonts/Roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Light.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto/Roboto-Regular.eot?") format("eot"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Regular.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Roboto/Roboto-Bold.eot?") format("eot"), url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Bold.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Roboto/Roboto-Black.eot?") format("eot"), url("../fonts/Roboto/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Black.woff") format("woff"), url("../fonts/Roboto/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Black.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto/Roboto-Medium.eot?") format("eot"), url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Medium.svg#Roboto") format("svg");
}
/* Global variables */
/* ======================================================================== */
.txt_primary {
  color: #7b8287;
}
.txt_success {
  color: #36a566;
}
.txt_info {
  color: #03a9f4;
}
.txt_warning {
  color: #fca33e;
}
.txt_danger {
  color: #ff1a1a;
}

/* Grid */
/* ======================================================================== */
/* Form */
/* ======================================================================== */
/* Breakpoints */
* {
  box-sizing: border-box;
}

.wrapper,
body,
html {
  height: 100%;
  position: relative;
  box-sizing: content-box;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  font-size: 100%;
  font-family: "Roboto";
  color: #727272;
  line-height: 1.2;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  margin: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
a:focus {
  outline: 0;
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
  max-width: 100%;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
  outline: 0;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button, html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

ul {
  margin: 0;
}

.wrapper {
  font-size: 16px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px auto;
}

.container_center {
  max-width: 1185px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Middle
 ----------------------------------------------------------------------------- */
.main__content {
  padding-bottom: 100px;
}

/* Набросок стилей для шапки
 ----------------------------------------------------------------------------- */
.header {
  position: absolute;
  width: 100%;
  padding: 27px 0;
}
@media (min-width: 768px) {
  .header {
    padding: 57px 0;
  }
}
.header__logo {
  width: 96px;
}
.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1185px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (min-width: 768px) {
  .header__content {
    justify-content: space-between;
  }
}
.header__left {
  padding-top: 8px;
}

/* Набросок стилей для навигации
-------------------------------------------------------------------------------*/
.navbar {
  list-style: none;
}
@media (min-width: 768px) {
  .navbar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .navbar {
    position: fixed;
    left: -330px;
    top: 0;
    bottom: 0;
    width: 300px;
    padding-top: 80px;
    transition: left 0.5s;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  .navbar__swicher:checked ~ .navbar {
    left: 0;
  }
}
.navbar__swicher {
  display: none;
}
@media (max-width: 767px) {
  .navbar__toggle {
    position: absolute;
    color: #34547A;
    left: 15px;
    top: 40px;
    width: 34px;
    height: 24px;
    border: 4px solid;
    border-left: 0;
    border-right: 0;
    z-index: 15;
    cursor: pointer;
  }
  .navbar__toggle:after, .navbar__toggle:before {
    content: "";
    border-top: 4px solid;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 0;
    width: 100%;
  }
  .navbar__swicher:checked ~ .navbar__toggle {
    color: #000;
    border-color: transparent;
    position: fixed;
  }
  .navbar__swicher:checked ~ .navbar__toggle:after, .navbar__swicher:checked ~ .navbar__toggle:before {
    transition: 0.8s;
  }
  .navbar__swicher:checked ~ .navbar__toggle:before {
    transform: rotate(45deg);
  }
  .navbar__swicher:checked ~ .navbar__toggle:after {
    transform: rotate(-45deg);
  }
  .navbar__toggle:hover {
    color: #253b56;
  }
}
.navbar__item {
  margin: 30px 15px;
}
.navbar__item:last-child {
  margin-right: 8px;
}
@media (min-width: 768px) {
  .navbar__item {
    margin: 0 15px;
  }
}
@media (min-width: 992px) {
  .navbar__item {
    margin: 0 21px;
  }
}
.navbar__link {
  transition: all 0.3s;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.navbar__link:hover {
  color: #34547A;
  font-weight: 500;
}

/* Набросок стилей для подвала
 ----------------------------------------------------------------------------- */
.footer {
  position: relative;
  height: 100px;
  background: #BFF08E;
}
.footer .container_center {
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  padding: 25px 41px 20px;
  letter-spacing: 1.6px;
  border: none;
  outline: none;
  text-decoration: none;
  display: inline-block;
  background-color: #34547a;
  text-align: center;
  max-width: 100%;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
}
.btn:hover {
  background-color: #000;
}
@font-face {
  font-family: "portfolio_icons";
  src: url("../fonts/portfolio_icons-v1.0/fonts/portfolio_icons.eot?1lix9n");
  src: url("../fonts/portfolio_icons-v1.0/fonts/portfolio_icons.eot?1lix9n#iefix") format("embedded-opentype"), url("../fonts/portfolio_icons-v1.0/fonts/portfolio_icons.ttf?1lix9n") format("truetype"), url("../fonts/portfolio_icons-v1.0/fonts/portfolio_icons.woff?1lix9n") format("woff"), url("../fonts/portfolio_icons-v1.0/fonts/portfolio_icons.svg?1lix9n#portfolio_icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon_],
[class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "portfolio_icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_telegram:before {
  content: "";
}

.icon_instagram:before {
  content: "";
}

.icon_network:before {
  content: "";
}

.icon_pin:before {
  content: "";
}

.icon_target:before {
  content: "";
}

.icon_policy:before {
  content: "";
}

.icon_offer:before {
  content: "";
}

.icon_project:before {
  content: "";
}

.icon_vk:before {
  content: "";
}

.firstScreen {
  min-height: 693px;
  background: #EEEFF1;
  padding-top: 130px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .firstScreen {
    padding-top: 250px;
  }
}
.firstScreen__content {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .firstScreen__content {
    flex-direction: column;
    text-align: center;
  }
}
.firstScreen__left {
  width: 100%;
  padding-bottom: 19px;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .firstScreen__left {
    width: 50%;
    padding-right: 12px;
  }
}
.firstScreen__left img {
  display: block;
}
.firstScreen__right {
  padding: 0 15px;
  width: 50%;
}
@media (max-width: 767px) {
  .firstScreen__right {
    width: 100%;
  }
}
.firstScreen__title {
  margin: 0 0 45px;
  color: #000000;
  font-size: 48px;
  font-weight: 500;
}
@media (max-width: 991px) {
  .firstScreen__title {
    font-size: 39px;
  }
}
.firstScreen__description {
  line-height: 1.65;
  margin: 0 0 52px;
}

.secondSection__content {
  padding: 92px 0 73px;
}

.clause {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clause__description {
  line-height: 1.65;
  text-align: center;
  max-width: 540px;
  padding: 0 16px;
}

.section__title {
  color: #000000;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin: 26px 0;
}
.section__title_left {
  text-align: left;
}

.thirdSection {
  background-color: #34547a;
}
.thirdSection__content {
  color: #fff;
  padding: 76px 21px 68px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
@media (min-width: 1200px) {
  .thirdSection__content {
    justify-content: space-between;
    margin-left: -24px;
  }
}
.thirdSection__item {
  display: flex;
  padding: 24px;
}
.thirdSection__image {
  font-size: 50px;
  margin-right: 20px;
}
.thirdSection__number {
  font-size: 21px;
  padding: 3px 0;
}
.progress {
  height: 4px;
  background-color: #c4c4c4;
}
.progress__bar {
  height: 4px;
  background-color: #34547a;
}

.fourthSection {
  padding-bottom: 96px;
}
.fourthSection__content {
  display: flex;
  justify-content: space-between;
  margin-top: 102px;
}
.fourthSection__left {
  width: 50%;
}
.fourthSection__skillBox {
  max-width: 445px;
  margin-left: 5px;
  padding-top: 74px;
}
.fourthSection__skillList {
  display: flex;
  flex-direction: column;
  margin-top: 44px;
}
.fourthSection__skillName {
  margin-bottom: 15px;
}
.fourthSection__item {
  padding-bottom: 0;
  margin-bottom: 31px;
  position: relative;
}
.fourthSection__right {
  width: 50%;
  padding-left: 20px;
}
.fifthSection {
  background: #EEEFF1;
}
.fifthSection__content {
  padding: 74px 0 100px;
}

.video:hover .video__play {
  transform: scale(1.5);
}
.video:active .video__play {
  transform: scale(0.1);
}
.video__wrapper {
  max-width: 1110px;
  margin: 30px auto auto;
  position: relative;
  overflow: hidden;
  padding-bottom: 51.9%;
}
.video__wrapper .video__prev,
.video__wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video__prev {
  display: block;
}
.video__play {
  transition: 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  cursor: pointer;
}