
//  ==========================
//  Eremin Alexey
//  Email: eremeow138@yandex.ru
//  ==========================

// Подключение примесей
@import 'mixins/mixin';

// Пример подключение шрифта через google fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900);
// Пример подключение шрифта через mixin
// 4 параметра: 1. Название шрифта; 2. Путь к шрифту; 3. Толщина шрифта(font-weight); 4. Стиль шрифта(font-style)
@include font-face("Roboto", "../fonts/Roboto/Roboto-Thin", 100, normal); // Раскомментировать при использовании
@include font-face("Roboto", "../fonts/Roboto/Roboto-Light", 300, normal);
@include font-face("Roboto", "../fonts/Roboto/Roboto-Regular", normal, normal);
@include font-face("Roboto", "../fonts/Roboto/Roboto-Bold", bold, normal);
@include font-face("Roboto", "../fonts/Roboto/Roboto-Black", 900, normal);
@include font-face("Roboto", "../fonts/Roboto/Roboto-Medium", 500, normal);

// Подключение отдельных фалов стилей в общий css
// Файл с переменными
@import 'variables/variables';
// Файл со стилями сброса. Используется подправленный normalize.css
@import 'core/reset';
// Файл с основными стилями каркаса страницы
@import 'core/template';
// Стили для шапки
@import 'core/header';
// Стили для навигации
@import 'core/navbar';
// Стили для подвала
@import 'core/footer';
@import 'core/button';

@import 'fonts/_icon_fonts';

body {}

.main_content {}

.firstScreen {
    // margin-top: 105px;
    min-height: 700px;
    background: #EEEFF1;
    padding-top: 250px;

    &__content {
        display: flex;

    }

    &__left {
        width: 100%;
        margin-left: 104px;
        padding-top: 21px;
        // flex: none;

        img {
            max-width: 100%;
            display: block;
        }
    }

    &__right {
        margin-left: -35px;
    }

    &__title {
        margin: 0 0 45px;
        color: #000000;
        font-size: 48px;
        font-weight: 500;
    }

    &__description {
        line-height: 1.65;
        margin: 0 0 52px;
    }

}

.section {}