@charset "UTF-8";
/* Набросок стилей для шапки
 ----------------------------------------------------------------------------- */
.header__logo {
  width: 96px;
}
.header__stiky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1135px;
  margin: 0 auto;
  padding: 15px 0;
}
.header__left {
  padding-top: 8px;
}