$icomoon-font-family: "portfolio_icons" !default;
$icomoon-font-path: "fonts" !default;

$icon_telegram: "\e900";
$icon_instagram: "\e901";
$icon_network: "\e902";
$icon_pin: "\e903";
$icon_target: "\e904";
$icon_policy: "\e905";
$icon_offer: "\e906";
$icon_project: "\e907";
$icon_vk: "\e908";

