.btn {
    color: $btn_default_text_color;
    font-family: $main_font_family;
    font-size: 16px;
    font-weight: 400;
    padding: 25px 41px 20px;
    letter-spacing: 1.6px;
    border: none;
    outline: none;
    text-decoration: none;
    display: inline-block;
    background-color: $btn_default_bg_color;
    text-align: center;
    max-width: 100%;
    cursor: pointer;
    transition: all 0.3s;
    text-transform: uppercase;

    &:hover {
        background-color: #000;
    }

    &:active {
        background-color: darken($btn_default_bg_color, 10%);
    }

    &_form {
        font-size: 14px;
        letter-spacing: 2.1px;
        padding: 20px 46px 18px;
    }

}
