/* Набросок стилей для подвала
 ----------------------------------------------------------------------------- */
.footer {
	position: relative;
	height: $footer_height;
	background: #34547A;
	@extend %clear_all;

	.container_center {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
