/* Набросок стилей для шапки
 ----------------------------------------------------------------------------- */
.header {
	position: absolute;
	width: 100%;
	padding: 57px 0;
	// Обертка логотипа
	&__logo {
		width: 96px;
		@media (max-width: 767px) {
			margin-left: 25px;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: $container_width;
		margin: 0 auto;
		padding: 0 40px;

	}

	&__left {
		padding-top: 8px;
	}

	// &__right {
	// 	padding-top: 1px;
	// }

}
