footer.footer
    .container_center
        .footer__content
            .footer__developer
                .footer__name Еремин Алексей
                .footer__rights
                    p
                    | &copy; 2020. Все права защищены.
            .footer__design
                a(href="http://d-e-n.ru/", target="_blank") Дизайн сайта - d-e-n.ru
            .footer__social
                a.footer__link(href="https://vk.com/eremeow" target="_blank")
                    i.icon_vk
                a.footer__link(href="https://vk.com/eremeow" target="_blank")
                    i.icon_vk
                a.footer__link(href="https://vk.com/eremeow" target="_blank")
                    i.icon_vk
