footer.footer
    .container_center
        .footer__content
            .footer__developer
                .footer__name Иванов Иван
                .footer__rights
                    p
                    | (с) 2018. Все права защищены.
                //- i.fa.fa-github(aria-hidden='true') &nbsp;
            .footer__social
                i.icon_vk
                i.icon_vk
                i.icon_vk
