footer.footer
    .container_center
        .footer__content
            .footer__developer
                .footer__name Иванов Иван
                .footer__rights
                    p
                    | (с) 2018. Все права защищены.
            .footer__social
                a.footer__link(href="https://vk.com/eremeow" target="_blank")
                    i.icon_vk
                a.footer__link(href="https://vk.com/eremeow" target="_blank")
                    i.icon_vk
                a.footer__link(href="https://vk.com/eremeow" target="_blank")
                    i.icon_vk
