footer.footer
    .container_center
        .footer__content
            .footer__developer
                .footer__name <?php echo SCF::get( 'footer__name' ); ?>
                .footer__rights
                    p
                    | <?php echo SCF::get( 'footer__rights' ); ?>
            .footer__design
                a(href="http://d-e-n.ru/", target="_blank") <?php echo SCF::get( 'footer__design_name' ); ?>
            .footer__social
                a.footer__link(href="https://vk.com/eremeow" target="_blank")
                    i.icon_vk
                a.footer__link(href="https://vk.com/eremeow" target="_blank")
                    i.icon_vk
                a.footer__link(href="https://vk.com/eremeow" target="_blank")
                    i.icon_vk
