header.header
    .header__content
        .header__left
            a.header__logo(href="/") #Еремин
                //- img(src="img/logo.svg", alt="alt")
                //- i.icon_cat


        nav.header__right
            input.navbar__swicher#navbar_toggle(type="checkbox")
            label(for="navbar_toggle").navbar__toggle
            ul.navbar
                li.navbar__item
                    a.navbar__link(href="#firstScreen") Главная
                li.navbar__item
                    a.navbar__link(href="#secondSection") Об авторе
                li.navbar__item
                    a.navbar__link(href="#sixthSection") Работы
                li.navbar__item
                    a.navbar__link(href="#fifthSection") Процесс
                li.navbar__item
                    a.navbar__link(href="#eightSection") Контакты
