extends layout/layout.pug
//- - var baseDir = "wp-content/themes/portfolio/";
//- - var baseDir = "";
block content
    // begin firstScreen
    section#firstScreen.firstScreen.section
        .container_center

            .firstScreen__content
                .firstScreen__left
                    img(src!="<?php echo wp_get_attachment_url(SCF::get( 'firstScreen__img' )) ?>", alt="")
                .firstScreen__right
                    h1.firstScreen__title <?php echo SCF::get( 'firstScreen__title' ); ?>
                    .firstScreen__description
                        p <?php echo SCF::get( 'firstScreen__description' ); ?>
                    a(href="#eightSection").btn <?php echo SCF::get( 'btn' ); ?>
        .firstScreen__arrow.animate__animated.animate__bounce.animate__infinite
            i.icon_arrow-down 


    // end firstScreen
    // begin secondSection
    section#secondSection.secondSection.section
        .container_center
            .secondSection__content
                .clause

                    h2.section__title <?php echo SCF::get( 'secondSection__title' ); ?>
                    .clause__description <?php echo SCF::get( 'secondSection__description' ); ?>

    // end secondSection
    // begin thirdSection
    section#thirdSection.thirdSection.section
        .container_center
            .thirdSection__content
                |<?php
                |    $thirdSection__item = SCF::get('thirdSection__item');
                |
                |    foreach ($thirdSection__item as $item) {
                |        echo '
                |        <div class="thirdSection__item">
                |          <div class="thirdSection__image"><i class="icon_'.$item['thirdSection__image'].'"></i></div>
                |          <div class="thirdSection__text">
                |            <div class="thirdSection__number">'.$item['thirdSection__number'].'</div>
                |            <div class="thirdSection__subject">'.$item['thirdSection__subject'].'    </div>
                |          </div>
                |        </div>
                |        ';
                |    };
                |?>
                //- .thirdSection__item
                //-     .thirdSection__image
                //-         i.icon_project
                //-     .thirdSection__text
                //-         .thirdSection__number 40+
                //-         .thirdSection__subject проектов    
                //- .thirdSection__item
                //-     .thirdSection__image
                //-         i.icon_project
                //-     .thirdSection__text
                //-         .thirdSection__number 40+
                //-         .thirdSection__subject проектов    
                //- .thirdSection__item
                //-     .thirdSection__image
                //-         i.icon_project
                //-     .thirdSection__text
                //-         .thirdSection__number 40+
                //-         .thirdSection__subject проектов    
                //- .thirdSection__item
                //-     .thirdSection__image
                //-         i.icon_project
                //-     .thirdSection__text
                //-         .thirdSection__number 40+
                //-         .thirdSection__subject проектов    
                //- .thirdSection__item
                //-     .thirdSection__image
                //-         i.icon_project
                //-     .thirdSection__text
                //-         .thirdSection__number 40+
                //-         .thirdSection__subject проектов    
                //- .thirdSection__item
                //-     .thirdSection__image
                //-         i.icon_project
                //-     .thirdSection__text
                //-         .thirdSection__number 40+
                //-         .thirdSection__subject проектов    

    // end thirdSection
    // begin fourthSection
    section#fourthSection.fourthSection.section
        .container_center
            .fourthSection__content
                .fourthSection__left
                    .fourthSection__skillBox
                        h2.section__title.section__title_left 
                        .fourthSection__skillList
                            //- |<?php echo SCF::get( '' ); ?>
                            |<?php
                            |     $Skills = SCF::get('Skills');
                            //- |     var_dump($Skills);
                            |     foreach ($Skills as $item) {
                            |         echo '
                            |             <div class="fourthSection__item">
                            |                 <div class="fourthSection__skillName">'.$item['fourthSection__skillName'].'</div>
                            |                 <div class="progress">
                            |                     <div class="progress__bar" style="width: '.$item['progress__bar'].'%"></div>
                            |                 </div>
                            |             </div>
                            |         ';
                            |     };
                            |  
                            |
                            | ?>


                            //-     

                            //- .fourthSection__item
                            //-     .fourthSection__skillName Adobe Photoshop 
                            //-     .progress
                            //-         .progress__bar(style="width: 38%")
                            //- .fourthSection__item
                            //-     .fourthSection__skillName Adobe Photoshop 
                            //-     .progress
                            //-         .progress__bar(style="width: 38%")
                            //- .fourthSection__item
                            //-     .fourthSection__skillName Adobe Photoshop 
                            //-     .progress
                            //-         .progress__bar(style="width: 38%")


                .fourthSection__right
                    .fourthSection__image
                        img(src!="<?php echo wp_get_attachment_url(SCF::get( 'fourthSection__image' )) ?>", alt="")

    // end fourthSection
    // begin fifthSection
    section#fifthSection.fifthSection.section
        .container_center
            .fifthSection__content
                .clause
                    h2.section__title <?php echo SCF::get( 'fifthSection__title' ); ?>
                    .clause__description <?php echo SCF::get( 'fifthSection__description' ); ?>
                    .clause__list <?php echo SCF::get( 'fifthSection__list' ); ?>

                    //- ul.clause__list
                    //-     |<?php
                    //-     |     $List = SCF::get('List');
                    //-     //- |     var_dump($Skills);
                    //-     |     foreach ($List as $item) {
                    //-     |         echo '
                    //-     |             <li class="clause__item">'.$item['fifthSection__item'].'</li>
                    //-     |         ';
                    //-     |     };
                    //-     |  
                    //-     |
                    //-     | ?>
                    //- li.clause__item item
                    //- li.clause__item item
                    //- li.clause__item item
                    //- li.clause__item item
                .video
                    <div class="video__wrapper js_youtube" id="<?php echo SCF::get( 'video__youtube' ); ?>"> 
                        <img class="video__prev" src="<?php echo wp_get_attachment_url(SCF::get( 'video__prev' )) ?>" alt=""/>
                        <img class="video__play" src="<?php echo wp_get_attachment_url(SCF::get( 'video__play' )) ?>" alt="Play"/>
                    </div>
                    //- #7Nn7NZI_LN4.video__wrapper.js_youtube 
                    //-     img(src!="<?php echo wp_get_attachment_url(SCF::get( 'video__prev' )) ?>", alt="").video__prev
                    //-     img.video__play(src!="<?php echo wp_get_attachment_url(SCF::get( 'video__play' )) ?>" alt="Play")



    // end fifthSection
    // begin sixthSection
    section#sixthSection.sixthSection.section
        .sixthSection__content
            .section__title Мои работы
            .sixthSection__portfolio
                |<?php
                |    $sixthSection__content = SCF::get('sixthSection__content');
                |
                |    foreach ($sixthSection__content as $item) {
                |
                |        echo '
                |            <div class="sixthSection__item"><a class="sixthSection__plate" href="'.$item['sixthSection__plate'].'" target="_blank" style="background-image: url('.wp_get_attachment_url($item['sixthSection__plate_bg']).')">
                |    <div class="sixthSection__select"><i class="icon_'.$item['sixthSection__select_icon'].'"></i></div></a></div>
                |        ';
                |    };
                |?>
            //- each item in [1, 2, 1, 2, 2, 1, 2, 1]
            //-     .sixthSection__item
            //-         a.sixthSection__plate(href=baseDir+"projects/freight_transportation/index.html" style="background-image: url("+baseDir+"img/job-"+item+".jpg)")
            //-             .sixthSection__select
                i.icon_eye

    // end sixthSection
    //- // begin seventhSection
    //- section#seventhSection.seventhSection.section
    //-     .container_center
    //-         .seventhSection__content
    //-             .seventhSection__item
    //-                 img(src="img/microsoft.svg", alt="")
    //-             .seventhSection__item
    //-                 img(src="img/microsoft.svg", alt="")
    //-             .seventhSection__item
    //-                 img(src="img/microsoft.svg", alt="")
    //-             .seventhSection__item
    //-                 img(src="img/microsoft.svg", alt="")
    //- 
    //- // end seventhSection
    // begin eightSection
    section#eightSection.eightSection.section
        .container_center
            .eightSection__formBox
                .clause
                    h2.section__title <?php echo SCF::get( 'eightSection__title' ); ?>
                    .clause__description <?php echo SCF::get( 'eightSection__description' ); ?>
                //- form.eightSection__grid(action="wp-content/themes/portfolio/mail.php" method="POST")
                form#form.eightSection__grid(method="POST" enctype="multipart/form-data" onsubmit="send(event, 'wp-content/themes/portfolio/send.php')")
                    .eightSection__row
                        input(type="text", name="name", placeholder="Ваше имя", required)
                    .eightSection__row
                        input(type="text", name="email", placeholder="Ваш e-mail", required)
                    .eightSection__row.eightSection__row_full
                        textarea(name="message", placeholder="Сообщение")
                    button.btn.btn_form(type="submit") Отправить

    // end eightSection

    // Begin Modal info
    .modal.modal-sm.fade.info#info
        .modal-dialog
            .modal-content
                a(href="#" class="modal-close" data-dismiss="modal")

                .form__message


    // End modal info
