extends layout/layout.pug

block content
    // begin firstScreen
    section#firstScreen.firstScreen.section
        .container_center

            .firstScreen__content
                .firstScreen__left
                    img(src="img/laptop.svg", alt="")
                .firstScreen__right
                    h1.firstScreen__title Дизайн и верстка
                    .firstScreen__description
                        p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.

                    button.btn(type="submit") НАПИСАТЬ МНЕ

    // end firstScreen
    // begin secondSection
    section#secondSection.secondSection.section
        .container_center
            .secondSection__content
                h2.section__title Обо мне
                .secondSection__aboutMe 
                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.

    // end secondSection
    // begin thirdSection
    section#thirdSection.thirdSection.section
        .container_center
            .thirdSection__content
                .thirdSection__item
                    .thirdSection__image
                        i.icon_project
                    .thirdSection__text
                        .thirdSection__number 40+
                        .thirdSection__subject проектов    
                .thirdSection__item
                    .thirdSection__image
                        i.icon_project
                    .thirdSection__text
                        .thirdSection__number 40+
                        .thirdSection__subject проектов    
                .thirdSection__item
                    .thirdSection__image
                        i.icon_project
                    .thirdSection__text
                        .thirdSection__number 40+
                        .thirdSection__subject проектов    
                .thirdSection__item
                    .thirdSection__image
                        i.icon_project
                    .thirdSection__text
                        .thirdSection__number 40+
                        .thirdSection__subject проектов    
                .thirdSection__item
                    .thirdSection__image
                        i.icon_project
                    .thirdSection__text
                        .thirdSection__number 40+
                        .thirdSection__subject проектов    
                .thirdSection__item
                    .thirdSection__image
                        i.icon_project
                    .thirdSection__text
                        .thirdSection__number 40+
                        .thirdSection__subject проектов    

    // end thirdSection
    // begin fourthSection
    section#fourthSection.fourthSection.section
        .container_center
            .fourthSection__content
                .fourthSection__left
                    .fourthSection__skillBox
                        h2.section__title.section__title_left Мои навыки
                        .fourthSection__skillList
                            .fourthSection__item
                                .fourthSection__skillName Adobe Photoshop
                                .progress
                                    .progress__bar(style="width: 50%")
                            .fourthSection__item
                                .fourthSection__skillName Adobe Photoshop
                                .progress
                                    .progress__bar(style="width: 67%")
                            .fourthSection__item
                                .fourthSection__skillName Adobe Photoshop
                                .progress
                                    .progress__bar(style="width: 38%")


                .fourthSection__right
                    .fourthSection__image
                        img(src="img/my_photo.jpg", alt="")

    // end fourthSection
