@charset "UTF-8";
@font-face {
  font-family: "portfolio_icons";
  src: url("../fonts/portfolio_icons-v1.0/fonts/portfolio_icons.eot?1lix9n");
  src: url("../fonts/portfolio_icons-v1.0/fonts/portfolio_icons.eot?1lix9n#iefix") format("embedded-opentype"), url("../fonts/portfolio_icons-v1.0/fonts/portfolio_icons.ttf?1lix9n") format("truetype"), url("../fonts/portfolio_icons-v1.0/fonts/portfolio_icons.woff?1lix9n") format("woff"), url("../fonts/portfolio_icons-v1.0/fonts/portfolio_icons.svg?1lix9n#portfolio_icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon_],
[class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "portfolio_icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_telegram:before {
  content: "";
}

.icon_instagram:before {
  content: "";
}

.icon_network:before {
  content: "";
}

.icon_pin:before {
  content: "";
}

.icon_target:before {
  content: "";
}

.icon_policy:before {
  content: "";
}

.icon_offer:before {
  content: "";
}

.icon_project:before {
  content: "";
}

.icon_vk:before {
  content: "";
}